# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.mjs
!.prettierrc.mjs
!package.json
!pnpm-lock.yaml
!.prettierrc
!eslint.config.js
!README.md