@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #eef5ff;
  --foreground: #282728;
  --accent: #0052ce;
  --badge: #2b7fff;
  --primary: #1d293d;
  --secondary: #fff;
}

html[data-theme="dark"] {
  --background: #082032;
  --foreground: #eeeeee;  
  --accent: #f65314;
  --badge: #f65314;
  --primary: #eeeeee;
  --secondary: #2c394b;

  /* ===== Other variants ===== */

  /* --background: #222831;
  --foreground: #eeeeee;
  --accent: #ffd369;
  --badge: #ffd369;
  --primary: #eeeeee;
  --secondary: #393e46; */

  /* --background: #232931;
  --foreground: #eeeeee;
  --accent: #4ecca3;
  --badge: #4ecca3;
  --primary: #eeeeee;
  --secondary: #393e46; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-badge: var(--badge);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@layer base {
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-background) transparent;
  }
}
